{% extends "socialaccount/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    {% if process == "connect" %}
    <h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

    <p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
    {% else %}
    <div class="row justify-content-center" >
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <h1 class="mb-4 text-center text-white">{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>

          <p class="mb-2 text-center text-white">{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
        </div>
      </div>
    </div>
          {% endif %}

    <form method="post">
      {% csrf_token %}
      <button class="form-control btn btn-primary submit px-3" type="submit">{% trans "Continue" %}</button>
    </form>
{% endblock %}
