
{% extends "account/base.html" %}


{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}    
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h1 class="heading-section">Sign In</h1>
      </div>
    </div>

    {% get_providers as socialaccount_providers %}
    <div class="row justify-content-center" >
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <h3 class="mb-4 text-center text-white">Have an<a href="{{ signup_url }}" style="color:#fbceb5;"> account </a>?</h3>
          <form class="form-account login" method="POST" action="{% url 'account_login' %}">
            
            {% csrf_token %}
            {% include 'form_snippet.html' %}
            {% if redirect_field_value %}
              
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            
              <button class="form-control btn btn-primary submit px-3" type="submit" href="{% url 'account_reset_password' %}">{% trans "Sign In" %}</button>
            
            <p >
              <a class="button secondaryAction " href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </p>
            <div class="social d-flex text-center">
              <a class="px-2 py-2 mr-md-1 rounded " >Facebook</a>
              <a class="px-2 py-2 mr-md-1 rounded " href="{% provider_login_url 'google' method='oauth2' %}">Google</a>
              
            </div>
          </form>
        </div>
			</div>
		</div>
{% endblock %}
