{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
            <h1 class="heading-section">{% trans "Change Password" %}</h1>
        </div>
    </div>
    <div class="row justify-content-center" >
        <div class="col-md-6 col-lg-4">
            <div class="login-wrap p-0">
                <form method="POST" action="{% url 'account_change_password' %}" class="form-account password_change"></form>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="form-control btn btn-primary submit px-3" type="submit" name="action">{% trans "Change Password" %}</button>
                    
                </form>
            </div>
        </div>
    </div>
            
{% endblock %}
