{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

      
            <div class="row justify-content-center">
              <div class="col-md-6 text-center mb-5">
                <h1 class="heading-section">
                  {% trans "Sign Up" %}</h1>
              </div>
            </div>
            <div class="row justify-content-center" >
              <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                  <p class="text-center text-white">{% blocktrans %}Already have an account?  
                    <a style="color:#fbceb5;" href="{{ login_url }}">sign in</a>.{% endblocktrans %}
                  </p>
                  <form class="signup mb-3" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {% for hidden_field in form.hidden_field %}
                      {{ hidden_field}}
                    {% endfor %}

                    
                    {% if form.non_field_errors %}
                      <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}

                    {% for field in form.visible_fields %}
                      <div class="form-group">
                        
                        {% if form.is_bound %}
                          {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                              <div class=" invalid-feedback">
                                {{ error }}
                              </div>
                            {% endfor %}
                          {% else %}
                              {% render_field field class="form-control is-invalid"%}
                          {% endif %}
                        {% else %}
                        {% render_field field class="form-control"%}
                        {% endif %}

                        {% if field.help_text %}
                          <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                      </div>
                    {% endfor %}

                    
                    
                    <!--{{ form.as_p }}-->
                    {% if redirect_field_value %}
                    <input class="form-control input-box form-ensurance-header-control" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="form-control btn btn-primary submit px-3" type="submit">{% trans "Sign Up" %} &raquo;</button>
                  </form>
                  
                  
                </div>
              </div>
            </div>
          
{% endblock %}
