.list-blog.single-post .post-thumb,
.list-blog.single-post .post-content {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-right: 15px;
}

.list-blog.single-post .post-content {
    margin-right: 0;
    margin-left: 15px;
    margin-bottom: 30px;
}

.list-blog.single-post {
    margin-bottom: 30px;
    border-bottom: 1px solid #ebebeb;
}

.blog_area .col-12:last-of-type .list-blog.single-post {
    margin-bottom: 0;
    border-bottom: none;
}

.blog_area .col-12:last-of-type .list-blog.single-post .post-thumb img {
    margin-bottom: 0;
}

.form-select{
    width: 110px;
    height: 2.3rem;

}

.newsletter-form {
    position: relative;
    z-index: 1;
}

.newsletter-form input {
    width: 100%;
    height: 40px;
    background-color: #f5f5f8;
    border: 1px solid #e1e1e1;
    border-radius: 30px;
    padding: 0 20px;
    font-size: 14px;
    color: #b5aec4;
}

.newsletter-form button {
    width: 40px;
    height: 40px;
    background-color: #fc6c3f;
    border: none;
    color: #fff;
    border-radius: 30px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    cursor: pointer;
}


.single-post-share-info a {
    width: 30px;
    display: block;
    height: 30px;
    background-color: #ddd;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px;
}

.single-post-share-info a i {
    line-height: 30px;
}

.single-post-share-info a.facebook {
    background-color: #4c65a8;
}


.single-post-share-info a.facebook:hover {
    background-color: #3555ac;
}

.single-post-share-info a.twitter {
    background-color: #41a1f6;
}

.single-post-share-info a.twitter:hover {
    background-color: #087ee6;
}

.single-post-share-info a.googleplus {
    background-color: #f43535;
}

.single-post-share-info a.googleplus:hover {
    background-color: #e20707;
}

.single-post-share-info a.instagram {
    background-color: #8f6247;
}

.single-post-share-info a.instagram:hover {
    background-color: #6d4025;
}

.single-post-share-info a.pinterest {
    background-color: #f0c605;
}

.single-post-share-info a.pinterest:hover {
    background-color: #a88c0a;
}

.yummy-blockquote {
    padding-left: 30px;
    border-left: 2px solid #fc6c3f;
}

.yummy-blockquote h5 {
    font-size: 18px;
}

.yummy-blockquote h6 {
    font-size: 14px;
    text-transform: uppercase;
}

.br-30 {
    border-radius: 30px !important;
}

.single_blog_area ul li {
    position: relative;
    z-index: 1;
    color: #51545f;
    margin-bottom: 15px;
    padding-left: 30px;
}

.single_blog_area ul li:before {
    position: absolute;
    content: '\f111';
    left: 0;
    top: 5px;
    font-family: 'FontAwesome';
    font-size: 8px;
    color: #fc6c3f;
}

.tags-area {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 30px;
}

.tags-area a {
    color: #292f3b;
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #ebebeb;
    display: inline-block;
    margin-bottom: 3px;
}

.tags-area a:hover {
    color: #fff;
    background-color: #fc6c3f;
}

.related-post-area {
    border-bottom: 1px solid #ebebeb;
}

.related-post-area .single-post {
    margin-bottom: 0;
}

.related-post-slider .post-content h6 {
    line-height: 1.5;
    margin-bottom: 0;
}

.related-post-slider .post-thumb img {
    margin-bottom: 10px;
}

.related-post-slider .owl-prev,
.related-post-slider .owl-next {
    position: absolute;
    top: -60px;
    border: 1px solid #ebebeb;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    right: 30px;
    background-color: #fff;
}

.related-post-slider .owl-next {
    right: 0;
}

.comment_area {
    border-bottom: 1px solid #ebebeb;
}

.single_comment_area {
    position: relative;
    z-index: 1;
}

.single_comment_area:after {
    position: absolute;
    width: 1px;
    height: 90%;
    background-color: #ebebeb;
    left: 100px;
    top: 0;
    z-index: 2;
    content: ''
}

.single_comment_area ol li.single_comment_area {
    margin-left: 130px;
}


.single_comment_area ol li.single_comment_area:after {
    display: none;
}


.comment-wrapper {
    margin-bottom: 30px;
}

.comment-wrapper .comment-author {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 60px;
}

.single_comment_area ol li.single_comment_area .comment-wrapper .comment-author {
    margin-right: 30px;
}

.comment-wrapper .comment-author img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.comment-wrapper .comment-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.comment-wrapper .comment-date {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.comment-wrapper .comment-content h5 {
    font-size: 18px;
    margin: 5px 0;
}

.comment-wrapper .comment-content a {
    min-width: 80px;
    height: 30px;
    border: 1px solid #ebebeb;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    color: #232d37;
    display: inline-block;
}

.comment-wrapper .comment-content a.active {
    color: #fff;
    background-color: #fc6c3f;
}

/* Bg Pattern */
.bg-pattern {
    background-attachment: fixed;
    background-position: center center;
    background-image: url(./../img/bg-img/bg-pattern.jpg);
    position: relative;
    background-size: cover;
    z-index: 1;
}
.bg-pattern:after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: '';
    background-color: rgba(255, 255, 255, 0.95);
    z-index: -1;
}
.post-author a,
.post-date a,
.post-favourite a,
.post-comments a,
.post-share a {
    color: #b5aec4;
    font-size: 14px;
}

.post-author a:hover,
.post-date a:hover,
.post-favourite a:hover,
.post-comments a:hover,
.post-share a:hover {
    color: #000;
}

.post-favourite a,
.post-comments a {
    margin-right: 15px;
}

.post-author a {
    margin-right: 30px;
    position: relative;
    z-index: 1;
}

.post-author a:after {
    width: 2px;
    height: 60%;
    content: '';
    position: absolute;
    top: 20%;
    right: -14px;
    z-index: 2;
    background-color: #b5aec4;
}

.single-post {
    margin-bottom: 30px;
}

.single-post h2,
.single-post h4 {
    margin: 10px 0;
    color: #232d37;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-transform: capitalize;
}

.single-post h2:hover,
.single-post h4:hover {
    color: #fc6c3f;
}

.single-post p {
    color: #51545f;
}

.single-post .read-more {
    font-size: 12px;
    color: #b5aeba;
    display: inline-block;
    border: 1px solid #ebebeb;
    border-radius: 30px;
    height: 40px;
    min-width: 170px;
    line-height: 40px;
    text-align: center;
}


.single-post .read-more:hover {
    color: #000;
    border: 1px solid #000;
}



.post-thumb img {
    border-radius: 30px;
    margin-bottom: 30px;
}
/* popular post */

.popular-post-widget .single-populer-post img {
    margin-right: 10px;
    border-radius: 20px;
    margin-bottom: 30px;
    -ms-flex-item-align: center;
    align-self: center;
}

.popular-post-widget .single-populer-post:last-of-type img {
    margin-bottom: 0;
}

.popular-post-widget .single-populer-post img {
    width: calc(50% - 10px);
}

.popular-post-widget .single-populer-post img,
.popular-post-widget .single-populer-post .post-content {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.popular-post-widget .single-populer-post .post-content {
    margin-left: 10px;
}

.popular-post-widget .single-populer-post .post-content > p {
    font-size: 14px;
    color: #b5aec4;
    font-weight: 400;
    margin-bottom: 0;
}

.widget-title > h6 {
    background: #fee2d9;
    height: 40px;
    width: 100%;
    line-height: 40px;
    border-radius: 2px;
    margin-bottom: 30px;
}

.single-widget-area {
    margin-bottom: 50px;
}