{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<section class="blog_area section_padding_0_80 mt-5 pt-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="single-post wow fadeInUp" data-wow-delay=".2s">
                            <!-- Post Thumb -->
                            <div class="post-thumb">
                                <img src="{{eatarticle.detail_image.url}}" alt="">
                            </div>
                            <!-- Post Content -->
                            <div class="post-content">
                                <div class="post-meta d-flex">
                                    <a href="#">
                                        <h1 class="post-headline">{{eatarticle.title}}</h1>
                                    </a>
                                    <div class="post-author-date-area d-flex">
                                        <!-- Post Author -->
                                        <div class="post-author">
                                            <a href="#">By {{eatarticle.author_name}}</a>
                                        </div>
                                        <!-- Post Date -->
                                        <div class="post-date">
                                            <a href="#">{{eatarticle.create_time}}</a>
                                        </div>
                                    </div>
                                    <!-- Post Comment & Share Area -->
                                    <div class="post-comment-share-area d-flex">
                                        <!-- Post Favourite -->
                                        <div class="post-favourite">
                                            <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> 10</a>
                                        </div>
                                        <!-- Post Comments -->
                                        <div class="post-comments">
                                            <a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> 12</a>
                                        </div>
                                        <!-- Post Share -->
                                        <div class="post-share">
                                            <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <p>{{eatarticle.contents}}</p>
                                <div class="btn-group">
                                    {% if perms.article.change_article %}
                                    <a href="{% url 'edit' pk=eatarticle.pk %}" class="card-link">Edit</a>
                                    {% endif %}
                                    {% if perms.article.delete_article %}
                                    <a href="{% url 'delete' pk=eatarticle.pk %}" class="card-link">Delete</a>
                                    {% endif %}

                                </div>
                                <div>我喜歡這則貼文</div>
                                <div class="post-big">
                                    <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                </div>
                                <div>我要分享(放很多app圖標)</div>
                                <div>我要留言</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}