<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>國北Eat點通</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Favicon -->
    <link rel="icon" href="../img/img2/core-../img/img2/favicon.ico">

    <!-- Core Stylesheet -->
    <link href="../../static/base/css/base.css" rel="stylesheet">
    <link href="../../static/base/css/goods.css" rel="stylesheet">
     <link href="../../static/base/css/allgoods.css" rel="stylesheet">

     

    <!-- Responsive CSS -->
    <link href="../../static/base/css/responsive/responsive.css" rel="stylesheet">

</head>

<body>
   
<!-- ****** Top Header Area Start ****** -->
    <div class="top_header_area fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <h4 class="mt-2">國北Eat點通</h4>
                </div>
                <!--  看板  Area -->
                <div class="col-lg-9 col-md-8 col-sm-12 ">
                    <div class="signup-search-area d-flex align-items-center justify-content-end">
                        <div class="billboard_register_area d-flex pt-2">
                            <div class="billboard">
                                <a href="register.html">校園版</a>
                            </div>
                            <div class="billboard">
                                <a href="index.html">美食版</a>
                            </div>
                            <div class="groupbuy">
                                <a href="groupbuy.html">團購版</a>
                            </div>
                            <div class="login ">
                                <a href="register.html">Login</a>
                            </div>


                            <i class="fa fa-bell me-3 ms-3 mt-1 fz-18" aria-hidden="true"></i>

                            <!--個人檔案offcanvas start-->
                            <i class="fa fa-user-circle me-3 mt-1 fz-19" aria-hidden="true"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"></i>

                            <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                                <div class="offcanvas-header">
                                    <h4 class="offcanvas-title mt-3" id="offcanvasScrollingLabel">我的帳戶</h4>
                                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body ms-3">
                                    <div class="d-flex">
                                        <img class="person_image" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/iu-李知恩-正能量-語錄-1571048097.jpg?crop=0.503xw:1.00xh;0,0&resize=640:*" alt="">
                                        <h5 class="name mt-4 ms-3">李知恩</h5>

                                    </div>
                                    <div class="level mt-3 5">N point : 100 · 見習評論家</div>

                                    <hr>
                               
                                    <div class="my_post fz-18 pb-2">我的文章</div>
                                    <div class="my_collection fz-18 pb-2">我的收藏</div>
                                    <div class="my_follow fz-18 pb-2">我的追蹤</div>

                                </div>
                            </div>

                            <!--個人檔案offcanvas end-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ****** Top Header Area End ****** -->

    <!-- ****** 封面大圖大字 start ****** -->
    <header class="header_area ">
        
                    <div class="logo_area text-center mt-5">
                        <img class="cover_img" src="./img/gb_banner.png" alt="">
                        
               
    </header>
    <!-- ****** 封面大圖大字 end ****** -->


    

    <nav class="navbar navbar-expand-lg gb_nav navbar-light ">
      <div class=" gb_bgc container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="groupbuy.html">首頁</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">團購商品</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="forum.html">討論區</a>
            </li>
          </ul>
          

          <div class="search_block">
              <div class="newsletter-form me-4" style="width: 350px;">
                <form action="#" method="post">
                    <input type="email" name="newsletter-email" id="email" placeholder="搜尋關鍵字" style="height: 2.3rem;" >
                    <button type="submit" style="height: 2.3rem; width: 2.3rem;" ><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>

        </div>
      </div>
    </nav>

<!-- -->



           
<div class="container-fluid">
    <div class="row">
        <div class="col-2  sidebar mt-5  text-center "> 
            
                <div class="">
                    <h6 class=" mb-3">全部</h6>
                    <div class=" gb_class mb-3">最新活動</div>
                    <p>肉乾</p>
                    <p>肉乾</p>
                    <p>肉乾</p>
                    <p>肉乾</p>
                    <p>肉乾</p>
              

                    <div class=" gb_class mb-3">熱門團購</div>
                    <p>肉乾</p>
                    <p>肉乾</p>
                    <p>肉乾</p>
                    <p>肉乾</p>
                    <p>肉乾</p>
                    <p>肉乾</p>
                 


                    <div class=" gb_class mb-3">食品美食</div>
                    <p>肉乾</p>
                    <p>肉乾</p>
                    <p>肉乾</p>
                    <p>肉乾</p>
                    <p>肉乾</p>
                    <p>肉乾</p>
                   


                    <div class=" gb_class mb-3">生活用品</div>
                    <p>肉乾</p>
                    <p>肉乾</p>
                    <p>肉乾</p>
                    <p>肉乾</p>
                    <p>肉乾</p>
                    <p>肉乾</p>

                    <div class=" gb_class mb-3">其他</div>


                    <div class="recomm">
                        <hr class="mt-5 mb-5">
                         <div class=" guess_like mb-5">猜你喜歡</div>

                         <div class="recomm_goods mb-3">
                             <img class="recomm_goods_image" src="https://www.ihergo.com/photo/product/02/300_1397402_1656392699986.jpg" alt="">
                             <div class="recomm_goods_title">麻辣鴨血</div>
                             <div class="recomm_goods_price">$99</div>
                         </div>

                         <div class="recomm_goods mb-3">
                             <img class="recomm_goods_image" src="https://www.ihergo.com/photo/product/11/300_11_1632992278934.jpg" alt="">
                             <div class="recomm_goods_title">經典雞塊</div>
                             <div class="recomm_goods_price">$69</div>
                         </div>

                         <div class="recomm_goods mb-3">
                             <img class="recomm_goods_image" src="https://www.ihergo.com/photo/product/11/300_11_1631862690125.jpg" alt="">
                             <div class="recomm_goods_title">挪威當季鮮蝦</div>
                             <div class="recomm_goods_price">$599</div>
                         </div>

                         <div class="recomm_goods mb-3">
                             <img class="recomm_goods_image" src="https://www.ihergo.com/photo/product/11/300_11_1563526051666.jpg" alt="">
                             <div class="recomm_goods_title">ㄚ嬤珍藏的巧克力塔</div>
                             <div class="recomm_goods_price">$79</div>
                         </div>
                        
                    </div>


                </div>
            </div>


        <section class="col-10 py-5">
            <div class="container-fluid px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://www.ihergo.com/photo/product/86/300_1214386_1638411274736.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    <!-- Product price-->
                                    $40.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-warning mt-auto" href="#">我要參團</a></div>
                            </div>
                        </div>
                    </div>


                    <div class="col mb-5">
                        <div class="card h-100">
                            
                            <!-- Product image-->
                            <img class="card-img-top" src="https://www.ihergo.com/photo/product/93/300_1084893_1635492612394.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Special Item</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    $18.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-warning mt-auto" href="#">我要參團</a></div>
                            </div>
                        </div>
                    </div>


                    <div class="col mb-5">
                        <div class="card h-100">
                            
                            <!-- Product image-->
                            <img class="card-img-top" src="https://www.ihergo.com/photo/product/11/300_11_1590483476699.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Sale Item</h5>
                                    <!-- Product price-->
                                    $25.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-warning mt-auto" href="#">我要參團</a></div>
                            </div>
                        </div>
                    </div>


                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://www.ihergo.com/photo/product/94/300_1410994_1659102862755.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Popular Item</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    $40.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-warning mt-auto" href="#">我要參團</a></div>
                            </div>
                        </div>
                    </div>


                    <div class="col mb-5">
                        <div class="card h-100">
                           
                            <!-- Product image-->
                            <img class="card-img-top" src="https://www.ihergo.com/photo/product/65/300_1373965_1637663890091.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Sale Item</h5>
                                    <!-- Product price-->
                                    $25.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-warning mt-auto" href="#">我要參團</a></div>
                            </div>
                        </div>
                    </div>


                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://www.ihergo.com/photo/product/79/300_1191279_1652684807862.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    <!-- Product price-->
                                    $280.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-warning mt-auto" href="#">我要參團</a></div>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://www.ihergo.com/photo/product/94/300_1121294_1660809705787.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Fancy Product</h5>
                                    <!-- Product price-->
                                    $280.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-warning mt-auto" href="#">我要參團</a></div>
                            </div>
                        </div>
                    </div>



                    <div class="col mb-5">
                        <div class="card h-100">
                           
                            <!-- Product image-->
                            <img class="card-img-top" src="https://www.ihergo.com/photo/product/28/300_31428_1616036317793.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Special Item</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    $18.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-warning mt-auto" href="#">我要參團</a></div>
                            </div>
                        </div>
                    </div>


                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://www.ihergo.com/photo/product/11/300_11_1548984859730.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Popular Item</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    $40.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-warning mt-auto" href="#">我要參團</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



 <!-- Modal -->
                <div class="modal fade" id="go_gb" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">開團表單</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        
                        <div class="input-group input-group-sm mb-3">
                          <span class="input-group-text" id="inputGroup-sizing-sm">*欲開團商品</span>
                          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>

                        <div class="input-group input-group-sm mb-3">
                          <span class="input-group-text" id="inputGroup-sizing-sm">開團商品介紹</span>
                          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>

                        

                        <div class="input-group input-group-sm mb-3">
                          <span class="input-group-text" id="inputGroup-sizing-sm">*姓名</span>
                          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>

                        <div class="input-group input-group-sm mb-3">
                          <span class="input-group-text" id="inputGroup-sizing-sm">*聯絡電話</span>
                          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>

                        <div class="input-group input-group-sm mb-3">
                          <span class="input-group-text" id="inputGroup-sizing-sm">*E-mail</span>
                          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>

                        <div>替開團商品新增相片：</div>
                        <div class="input-group mb-3" >
                          <input type="file" class="form-control" id="inputGroupFile02" style="height: 35px;">
                          <label class="input-group-text" for="inputGroupFile02" style="height: 35px;">上傳</label>
                        </div>




                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary">確認開團</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Modal -->
                <div class="modal fade " id="my_shopcar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">我的購物車</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body shopcar_items" >
                        <!--您的購物車裡暫無商品！-->
                        <div class="container-xxl">
                          <div class="row text-center mb-3">
                         
                            <div class="col-1"></div>
                            <div class="col-1"></div>
                            <div class="col-3">商品</div>
                            <div class="col-2">規格</div>
                            <div class="col-2">單價</div>
                            <div class="col-1">數量</div>
                            <div class="col-2">總價</div>
                          </div>
                          <div class="have"></div>
                        </div>

                       

                      </div>
                        

                      
                      <div class="modal-footer">

                        <button role="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <a class="btn go_btn" href="gobuy.html">結帳</a>
                      </div>
                    </div>
                  </div>
                </div>

      

    </div>
            


                    <!-- Section-->
        

    </div>
  <div class="fixed-bottom">
            <div class=" d-flex justify-content-end ">
                <div class="add_gb fz-14" data-bs-toggle="modal" data-bs-target="#go_gb">我要<br>開團</div>
            </div> 


            <div class=" d-flex justify-content-end  shopcar_btn" >
                    
                    <div class="shopcar_icon" data-bs-toggle="modal" data-bs-target="#my_shopcar"><i class="fa fa-shopping-cart fz-30 " aria-hidden="true"></i></div>
            </div> 

        </div>
        



    <!-- Jquery-2.2.4 js -->
    <script src="../../static/base/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../../static/base/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap-4 js -->
    <script src="../../static/base/js/bootstrap/bootstrap.min.js"></script>
    <!-- Bootstrap-5 js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <!-- All Plugins JS -->
    <script src="../../static/base/js/others/plugins.js"></script>

   
    <script src="../../static/base/js/allgoods.js"></script>
    


   
</body>



